@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')

@media screen and ( max-width: 450px )
.fh1
  font-size: 33px
  font-family: 'Pacifico', cursive
  color: #D6FFF6

.ftext
  font-family: 'Nunito', sans-serif

