
$midnight-blue: #000A64
$med-spring: #00FFB0
$light-coral: #EF6F6C
$med-aquamarine: #56D2A9
$max-yr: #FFBA49
$light-cyan: #D6FFF6
$turqoise: #37EAD7

.mpb-0
  margin: 0
  padding: 0
  border: 0
  outline: none

.mp-0
  margin: 0
  padding: 0

.m-0
  margin: 0

.p-0
  padding: 0

.b-0
  border: none
  outline: none

.mlink
  color: inherit
  text-decoration: none

.mlink:hover
  color: inherit
  text-decoration: none

.mlink:visited
  color: inherit
  text-decoration: none

.mlink:active
  color: inherits
  text-decoration: none



